#crystals {
    float: left;
}

.footer {
position: fixed;
left: 0;
bottom: 0;
width: 100%;
background-color: rgb(85, 152, 179);
color: white;
text-align: center;
}

.navbar {
    background-color: rgb(85, 152, 179);
}